# Configuration d'authentification Keycloak OIDC du Frontend (Exemple)
VITE_KEYCLOAK_URL=http://localhost/keycloak
VITE_KEYCLOAK_REALM=meeting-ai
VITE_KEYCLOAK_CLIENT_ID=meeting-ai-frontend

# Base URL de l'API Backend FastAPI
VITE_API_URL=/api

# Seuil de rafraîchissement préventif (en secondes)
VITE_REFRESH_THRESHOLD=30
